$green-color: #58B660;
$yellow-color: #FAB50B;
$lightYellow-color: #FFE9B4;
$black-color: #444444;
$white-color: #fff;
$darkGreen-color: #034345;
$beige-color: #FAF5E4;
$darkBeige-color: #DED6BA;
$lightRed-color: rgba(255, 41, 47, 0.32);
$lightBlue-color: #E8F4FD;
$darkBlue-color: #0B3C60;
$grey-color: rgba(0, 0, 0, 0.37);
$lightGrey-color: #A5B0BC;



$brown: #CC922F;
$brown-light: #EBD3AC;
$midnight-blue: #1E3957;
$lightSteel-blue: #A5B0BC;
$black: #000;
$table-row: #F4F6F8;
$white: #fff;
$border-color: #e5e9f2;
