@import "./reset.scss";
@import "./fonts.scss";
@import "./colors.scss";
@import "./animate.scss";
@import "./responsive.scss";

body {
  font-family: "Roboto";
  font-weight: 300;
}
.relative {
  position: relative;
}
.uppercase {
  text-transform: uppercase;
}
